DB_HOST=aws-1-sa-east-1.pooler.supabase.com
DB_PORT=6543
DB_USER=postgres.skguxjnrjwpxvoviktdu
DB_PASS=
DB_NAME=postgres
DB_SSL=true
SESSION_SECRET=tradicao-secret-key-change-me
PORT=3000
SUPABASE_URL=https://skguxjnrjwpxvoviktdu.supabase.co
SUPABASE_KEY=sua_chave_aqui
